$lightCornFlowerBlue: #8ecae6;
$blueGreen: #219ebc;
$prussianBlue: #023047;
$selectiveYellow: #ffb703;
$tangerine: #fb8500;
$blue-ncs: hsla(195, 83%, 38%, 0.3);

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shizuru&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.primary-container {
  margin: 0;
  padding: 0;

  .nav-banner-row {
    // position: absolute;
    .custom-nav {
      // position: absolute;
      z-index: 2;
      width: 100%;
      font-family: 'Indie Flower', cursive;
      font-size: 1.5rem;
      padding: 0;
      background-color: $blue-ncs;

      .nav-logo {
        width: 4rem;
        margin-left: 0;
      }

      .nav-link {
        color: $tangerine;
      }
    }

    .custom-jumbotron {
      z-index: 1;

      .custom-banner {
        // position: absolute;
        width: 100%;
      }
    }
  }

  .content-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0.5rem;
    .text-col {
      font-family: 'Indie Flower', cursive;
    }

    .img-col {
      display: flex;
      justify-content: center;
      img {
        width: 100%;
      }
    }
  }

  /* Footer Section */
  .site-footer {
    /* background-color: rgb(233, 223, 223); */
    background-color: black;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;

    .icon-link {
      padding: 20px;
      padding-top: 40px;
      padding-bottom: 20px;
      color: $selectiveYellow;
    }
  }

  .about-row {
    display: flex;
    justify-content: center;
    background: #023047;
    // padding-top: 60px;
    // padding-bottom: 60px;

    .about-col {
      display: flex;
      justify-self: center;
      padding: 1rem;

      img {
        display: block;
        margin: auto;
      }
    }
  }
}
